<div id="table-location">

</div>
<br/>
<!-- Location where the chart will be added -->
<div id="chart-location">
  <!--<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
      <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
    </div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
      <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
    </div>
  </div>-->
  <canvas id="chart" width="1068" height="534" class="chartjs-render-monitor" style="display: block; width: 1068px; height: 534px;"></canvas>
</div>
<!--<script src="/public/js/fusioncharts_demo.js" charset="utf-8"></script>-->

<script src="/public/js/chartjs_build.js" charset="utf-8"></script>

<script id="tabular-template" type="text/html">

<h2>Tabular Data</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>Author</td>
      \{{#each categories}} <td>\{{label}}</td> \{{/each }}
    </tr>
  </thead>
  <tbody>
    \{{#each dataset}}
    <tr>
      <td>\{{seriesname}}</td>
      \{{#each data}} <td>\{{value}}</td> \{{/each}}
    </tr>
    \{{/each}}
  </tbody>
</table>

</script>
